.jumbotron {
  background-image: linear-gradient(to bottom right,#3f72af,  #112d4e);
  color: white;
  margin-bottom: 0px;
  border-bottom: solid;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
.container {
  background-color: transparent;
}
.container-one {
  position: absolute;
  top: 10%;
  left: 15%;
}

h2, h3, #time-range, #extra, .diet, .valueSpan2, #food, #recipes {
  color: #112d4e;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
p {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #112d4e;
}
.btn {
  background-color: #112d4e;
  border-color: #5D5C61;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
.btn:hover {
  background-color: #B1A296;
  border-color:  #5D5C61;
}
.btn:active {
  background-color: #B1A296;
  border-color:  #5D5C61;
}
.main-container {
  background-image: linear-gradient(to bottom, #dbe2ef, #dbe2ef, #5f8cc4);
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 25%;
  left: 38%;
 }
 .form-check-label {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #112d4e;
 }
table {
  margin-left: auto;
  margin-right: auto;
}
#edamam-badge {
  position: relative;
  left: 25%;
}
@media only screen and (max-width: 768px) {
.scroll {
  min-height: 800px;
  overflow: scroll;
}}