.jumbotron {
  background-image: linear-gradient(to bottom right,#3f72af,  #112d4e);
  color: white;
  margin-bottom: 0px;
  border-bottom: solid;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
.container {
  background-color: transparent;
}
.container-one {
  padding: 50px;
}

h2, h3, #time-range, #extra, .diet, .valueSpan2, #food, #recipes {
  color: #112d4e;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  text-decoration: none;
}
p {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #112d4e;
}
.btn {
  background-color: #112d4e;
  border-color: #5D5C61;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
.btn:hover {
  background-color: #B1A296;
  border-color:  #5D5C61;
}
.btn:active {
  background-color: #B1A296;
  border-color:  #5D5C61;
}
.main-container {
  background-image: linear-gradient(to bottom, #dbe2ef, #dbe2ef, #5f8cc4);
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
 footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
#movieDB {
  width: 30%;
}
 .form-check-label {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #112d4e;
 }
table {
  margin-left: auto;
  margin-right: auto;
}
#edamam-badge {
  position: relative;
  text-align: center;
}
td.recipe {
  width: 30%;
}

td.recipe img {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    min-height: 1300px;
  }
  .container-one {
    position: absolute;
    top: 0;
  }
  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td.recipe { 
		/* Behave  like a "row" */
		border: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}
@media only screen and (max-width: 375px) {
.main-container {
  height: 1450px;
}
.container-one {
  position: absolute;
  top: 0;
  right: 15%;
}
}